@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.video-js {
  width: 100% !important;
  height: 100% !important;
}

.video-js .vjs-big-play-button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: rgba(239, 68, 68, 0.8);
  border: none;
  font-size: 2rem;
}

.video-js .vjs-big-play-button:hover {
  background-color: rgba(239, 68, 68, 1);
}